* {
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.main {
    font-size: 50px;
    text-align: center;
    background-color: maroon;
}

.recipe-list {
    text-indent: 20px;
}

img {
    height: auto;
    width: 500px;
}

h2 {
    color: brown;
    text-decoration: underline;
}

body {
    background-color: aquamarine;
}